<header [ngClass]="layout" class="header_container">
  <ng-content></ng-content>

  <button [routerLink]="['/home']" class="button_img"><img src="/assets/Logo Fund Branca 1.svg"></button>

  <nav *ngIf="showNav" class="header_container_nav">
    <button [routerLink]="['/pontos']" routerLinkActive="router-link-active" >Pontos</button>
    <button [routerLink]="['/retroativo']" routerLinkActive="router-link-active">Retroativo</button>
    <button [routerLink]="['/relatorio']" routerLinkActive="router-link-active">Relatório</button>
  </nav>
</header>
