<header [ngClass]="layout" class="header_container">
  <div *ngIf="customContent">
    <ng-container *ngTemplateOutlet="customContent"></ng-container>
  </div>

  <button class="button_img"><img src="/assets/Logo Fund Branca 1.svg"></button>

  <nav *ngIf="showNav" class="header_container_nav">
    <button [routerLink]="['/pontos']" routerLinkActive="router-link-active" >Pontos</button>
    <button [routerLink]="['/Funcionarios']" routerLinkActive="router-link-active">Funcionários</button>
    <button [routerLink]="['/Retroativo']" routerLinkActive="router-link-active">Retroativo</button>
  </nav>
</header>
