<app-header [showNav]="true" [layout]="'space-between'"></app-header>
<main class="funcionario-container">
  <div class="funcionario-titulo">
    <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="filterUsuarios()"  placeholder="Pesquise o funcionário...">
    <button [routerLink]="['/cadastro']">Cadastrar</button>
  </div>
  <table>
    <thead>
      <tr>
        <td>Nome Completo</td>
        <td>Cargo</td>
        <td>Carga Horária</td>
        <td>Ativo</td>
        <td>Permissão</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of filteredUsuarios">
        <td><button class="btn-user" (click)="relatorioIndividual(usuario)">{{ usuario.nome }}</button></td>
        <td>{{ usuario.cargo }}</td>
        <td>{{ usuario.cargaHoraria }}</td>
        <td>{{ usuario.ativoFormatado }}</td>
        <td>{{ usuario.permissao }}</td>
        <td><button (click)="openDialog(usuario)"><mat-icon>edit</mat-icon></button></td>
      </tr>
    </tbody>
  </table>
</main>
<app-footer></app-footer>
