.funcionario-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
  font-family: var(--fonte);

}

.funcionario-titulo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.funcionario-titulo input{
  background-color:transparent;
  border: 2px solid var(--cor-principal);
  width: 300px;
  padding: 5px;
  border-radius: 8px;
  font-family: var(--fonte);

  &::placeholder{
    color: var(--cor-principal);
  }
}

.funcionario-titulo h1{
  font-size: 40px;
  margin: 0;

}

.funcionario-titulo button{
  background-color: green;
  color: var(--cor-secundaria);
  font-family: var(--fonte);
  border: 0;
  padding: 9px 1.5em;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s;

  &:hover{
    background-color: rgb(6, 169, 6);
  }
}


table{
  width: 80%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 15px;
  text-align: center;
  border: 1px solid #ddd;
}

thead {
  background-color: var(--cor-principal);
  color: var(--cor-secundaria);
  border-radius: 10px;
}

thead td {
  padding: 12px 0;
}

tbody tr {
  border-bottom: 1px solid gray;
}

tbody td {
  padding: 12px 0;
  background-color: rgb(212, 210, 210);
}

td button{
  background-color: transparent;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  transition: .2s;

  &:hover{
    background-color: gray;
  }
}

.btn-user:hover{
  background-color: transparent !important;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

td .delete:hover{
  color: red;
}


