*{
  padding: 0;
  margin: 0;
}

.voltar{
  position: absolute;
  left: 5%;
  top: 2.5%;
  background-color: transparent;
  border: 0;
  color: white;
  cursor: pointer;
  transition: .2s;

  &:hover{
    color: gray;
  }
}

main{
  margin-top: 3em;
  display: flex;
  gap: 3em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--fonte);
  padding-bottom: 3em;
}

.Infos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1{
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

h2, p{
  font-size: 20;
  font-weight: 400;
  margin: 0;
}

.tabelas{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}

.titulo-tabelas{
  font-size: 24px;
}

table{
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 15px;
  text-align: center;
  border: 1px solid black;
}


thead {
  background-color: var(--cor-principal);
  color: var(--cor-secundaria);
  border-radius: 10px;
}

thead td {
  padding: 12px;
}

tbody tr {
  border-bottom: 1px solid gray;
}

tbody td {
  padding: 12px;
  background-color: rgb(212, 210, 210);
}

.tabela-pontos-divTitulo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.tabela-pontos-divTitulo select{
  padding: 0.5em 1.5em 0.5em 0.2em;
  font-family: var(--fonte);
  color: black;
  border-radius: 5px;
}

.tabela-pontos-divTitulo select:focus{
  border: 1px solid var(--cor-principal);
}

 .tabela-pontos-divTitulo option {
  padding: 8px 12px;
}

.tabela-pontos-divTitulo label {
  font-size: 16px;
  margin-right: 10px;
}

@media (width <= 620px){

  table{
    font-size: 12px;
  }

  tbody td, thead td{
    padding: 5px;
  }
}
