<app-header [showNav]="true" [layout]="'space-between'"></app-header>
<main>
  <h1>Pontos</h1>
  <table>
    <thead>
      <tr>
        <td>Nome Completo</td>
        <td>Data</td>
        <td>Hora Inicial</td>
        <td>Hora Final</td>
        <td>Horas Feitas</td>
        <td>Descricão</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ponto of listaDePontos">
        <td>{{ ponto.usuario }}</td>
        <td>{{ ponto.data | date:'dd/MM/yyyy' }}</td>
        <td>{{ ponto.horaInicial }}</td>
        <td>{{ ponto.horaFinal }}</td>
        <td>{{ ponto.horasFormatadas }}</td>
        <td>{{ ponto.descricao }}</td>
      </tr>
    </tbody>
  </table>

</main>
<app-footer></app-footer>
