main{
  margin: 0;
  padding: 0;
  background-image: url(../../../assets/background.png);
  color: var(--cor-secundaria);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.menu{
  display: flex;
  flex-direction: column;
  margin: 0 70px 30px;
}

.usuario{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.usuario h1{
  font-weight: 500;
  padding-bottom: 20px;
}

.logo{
  width: 70px;
  position: absolute;
  left: 15px;
  top: 15px;
}

.btn-logout{
  display: flex;
  font-size: 20px;
  background: transparent;
  border: 0;
  color: var(--cor-secundaria);
  cursor: pointer;
  align-items: center;
  gap: 10px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  transition: .2s;

  &:hover{
    transform: scale(1.05);
    color: red;
  }
}

p{
  text-align: center;
}

nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 22px;
}

nav button{
  display: flex;
  width: auto;
  font-size: 20px;
  background-color: transparent;
  border: 0;
  color: var(--cor-texto);
  transition: .2s;
  cursor: pointer;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  gap: 10px;
  height: 50px;
  width: 310px;
  padding: 10px;
  &:hover{
    transform: scale(1.05);
  }
}


