<main>
  <header>
    <div class="usuario">
      <p *ngIf="usuario">{{ usuario.nomeFormatado }}</p>
      <p>{{ usuario.cargo }}</p>
    </div>
    <button class="btn-logout" (click)="logout()">Logout</button>
  </header>
  <div class="Logo-principal">
    <img src="/assets/Logo Fund Branca 1.svg">
    <h1>Ponto Eletrônico</h1>
  </div>
  <nav>
    <button [routerLink]="['/retroativo']">Retroativo</button>
    <button [routerLink]="['/pontos']">Pontos</button>
    <button [routerLink]="['/relatorio']">Relatório</button>
  </nav>
</main>
<app-footer></app-footer>



