<app-header [layout]="'center'">
<main>
  <app-bluebox>
    <main class="container">
      <div class="infos">
        <h1>{{ usuario.nome }}</h1>
        <form [formGroup]="pontoForm">
          <label>ID:</label>
          <input type="text" (ngModelChange)="buscarUsuarioPorId()" formControlName="usuarioId">
        </form>
        <p>{{ usuario.cargo }}</p>
      </div>
      <div class="botoes">
        <button (click)="entrada()" class="btn-entrada">Entrada</button>
        <button (click)="saida()" class="btn-saida">Saída</button>
      </div>
    </main>
  </app-bluebox>
</main>
