<app-header [layout]="'center'">
<main>
  <app-bluebox>
    <main class="container">
      <div class="infos">
        <h1 *ngIf="usuario">{{ usuario!.nome || null  }}</h1>
        <p *ngIf="usuario">{{ usuario!.cargo }}</p>
        <form [formGroup]="pontoForm">
          <label>ID:</label>
          <input type="text"  formControlName="usuarioRfid" readonly>
        </form>
      </div>
      <div class="botoes">
        <button (click)="entrada()" class="btn-entrada">Entrada</button>
        <button (click)="saida()" class="btn-saida">Saída</button>
      </div>
    </main>
  </app-bluebox>
</main>
<app-footer></app-footer>
