<app-header [layout]="'center'" class="cabecalho"></app-header>
<app-bluebox>
  <div class="bluebox-container-itens">
    <h1>Cadastro</h1>
    <form class="bluebox-formulario" [formGroup]="usuarioForm">
      <input type="text" formControlName="id" placeholder="UID">
      <input type="text" formControlName="nome" placeholder="Nome Completo">
      <input type="text" formControlName="cargo" placeholder="Função - Empresa">
      <input type="text" formControlName="cargaHoraria" placeholder="Carga Horária">
      <input type="email" formControlName="email" placeholder="Email">
      <input type="password" formControlName="senha" placeholder="Senha">

      <button class="btn" (click)="cadastrar()">Cadastrar</button>
    </form>
  </div>
</app-bluebox>
