*{
  padding: 0;
  margin: 0;
}

.voltar{
  position: absolute;
  left: 5%;
  top: 2.8%;
  background-color: transparent;
  border: 0;
  color: white;
  cursor: pointer;
  transition: .2s;

  &:hover{
    color: gray;
  }
}

.bluebox-container-itens, .bluebox-formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1{
  font-size: 26px;
}

.bluebox-container-itens{
  gap: 35px;
}

.bluebox-formulario{
  gap: 31px;
}

.bluebox-formulario input{
  border: 0;
  width: 264px;
  height: 42px;
  text-align: center;
  border-radius: 10px;

  &::placeholder{
    color: black;
    font-family: var(--fonte);
  }
}

.btn{
  background-color: var(--cor-secundaria);
  padding: 13px 18px;
  border: 0;
  border-radius: 10px;
  font-size: 16px;
  color: var(--cor-principal);
  cursor: pointer;
  transition: .2s;

  &:hover{
    box-shadow: 0 0 10px var(--cor-secundaria);
  }
}


